﻿@*----------------------------------------------------------------------------

(C) Copyright 2012 Johnson Controls, Inc.
Use or Copying of all or any part of this program, except as
permitted by License Agreement, is prohibited.

------------------------------------------------------------------------------*@

@using BuildingSecurity.Reporting
@model ReportActionModel

@{
    ViewBag.Title = String.Format(Resources.ReportRunnerViewPageTitleFormat, Model.ReportName);
    ViewBag.HelpLink = Html.GetLocalizedHelpLink("~/Help/index_csh.htm#1004,withnavpane=true");
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ViewModels/Reports/ReportParameters.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ViewModels/Reports/RunnerViewModel.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var messageText = "@Model.MessageText";
            var messageType = "@Model.MessageType";

            jci.message.display("message", messageText, messageType);
        });
        
        window.hideMessage = function () {
            jci.message.hide("message");
        };
    </script>
}

<div class="report-runner clear-fix">
    <div class="outer-runner">
        <div class="inner-runner">
            <div>
                <h1>@Model.ReportName</h1>
            </div>

            <div id="message" class="row" style="margin-left:0px" hidden="hidden"></div>
            <div class="report-input">
                <div class="body">
                    @using (Html.BeginForm((string)ViewBag.FormAction, "Reports", new { reportId = Request.QueryString["reportId"], dataSource = Request.QueryString["dataSource"] }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        int badgeIndex=0;
                        <fieldset>
                            <legend></legend>
                            @if (Model.IsDataSourceSelectionRequired)
                            {
                                <div>
                                    <span class="badge">@(++badgeIndex)</span>
                                    @Resources.ReportRunnerViewStep3Prompt
                                </div>
                                <div class="data-source">
                                    @Html.DropDownListFor(m => m.DataSource, Model.DataSourceSelections, new { onchange = "jci.reports.updateDataSource('" + Model.ReportId + "', this.value);" })
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.DataSource)
                            }
                            <div class="parameters">
                                <div>
                                    <span class="badge">@(++badgeIndex)</span>
                                    @Resources.ReportRunnerViewStep1Prompt
                                </div>
                                <div class="clearfix">
                                    @Html.HiddenFor(m => m.ReportId)
                                    @Html.HiddenFor(m => m.ReportUiCulture)
                                    @Html.HiddenFor(m => m.ReportName)
                                    @Html.HiddenParameters(Model.Parameters)
                                    @Html.Partial(Model.ParametersView, Model)
                                </div>
                            </div>
                            <div>
                                <span class="badge">@(++badgeIndex)</span>
                                @Resources.ReportRunnerViewStep2Prompt
                            </div>
                            <div class="output">
                                <div class="clear-fix">
                                    <label class="radio">
                                        <div class="float-left">@Html.RadioButtonFor(m => m.ReportOutputType, ReportOutputType.Pdf)</div>
                                        <div class="float-left"><img src="@Url.Content(ReportOutputType.Pdf.IconPath())" alt="PDF Icon"/></div>
                                        <div class="radio-label float-left">@ReportOutputType.Pdf.Label()</div>
                                    </label>
                                    <label class="radio">
                                        <div class="float-left">@Html.RadioButtonFor(m => m.ReportOutputType, ReportOutputType.Excel)</div>
                                        <div class="float-left"><img src="@Url.Content(ReportOutputType.Excel.IconPath())" alt="Microsoft Excel Icon"/></div>
                                        <div class="radio-label float-left">@ReportOutputType.Excel.Label()</div>
                                    </label>
                                    <label class="radio">
                                        <div class="float-left">@Html.RadioButtonFor(m => m.ReportOutputType, ReportOutputType.Csv)</div>
                                        <div class="float-left"><img src="@Url.Content(ReportOutputType.Csv.IconPath())" alt="@ReportOutputType.Csv.Label()"/></div>
                                        <div class="radio-label float-left">@ReportOutputType.Csv.Label()</div>
                                    </label>
                                </div>
                            </div>
                            <input class="btn" name="run" type="submit" onclick="window.hideMessage()" value="@Resources.ReportRunnerSubmitButtonTitle" />
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
